{% extends "layout.html" %}

{% block body %}
<h2>Country code according to the ISO_3166</h2>
<div>
    <table border=" 1" cellspacing="0" cellpadding="0" class="ta1">
        <colgroup>
            <col width="100"/>
            <col width="50"/>
        </colgroup>
        <tr class="ro1">
            <th  class="ce5">
    <p>Nom en français</p></th>
    <th  class="ce5"><p>Code</p></th>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Afghanistan</p></td>
        <td  class="ce6"><p>AF</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Afrique du Sud</p></td>
        <td  class="ce6"><p>ZA</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Åland, Îles</p></td>
        <td  class="ce6"><p>AX</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Albanie</p></td>
        <td  class="ce6"><p>AL</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Algérie</p></td>
        <td  class="ce6"><p>DZ</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Allemagne</p></td>
        <td  class="ce6"><p>DE</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce7"><p>Allemagne de l'EST</p></td>
        <td  class="ce7"><p>DD</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Andorre</p></td>
        <td  class="ce6"><p>AD</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Angola</p></td>
        <td  class="ce6"><p>AO</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Anguilla</p></td>
        <td  class="ce6"><p>AI</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Antarctique</p></td>
        <td  class="ce6"><p>AQ</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Antigua et Barbuda</p></td>
        <td  class="ce6"><p>AG</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce7"><p>Antilles néerlandaises</p></td>
        <td  class="ce7"><p>AN</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Arabie Saoudite</p></td>
        <td  class="ce6"><p>SA</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Argentine</p></td>
        <td  class="ce6"><p>AR</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Arménie</p></td>
        <td  class="ce6"><p>AM</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Aruba</p></td>
        <td  class="ce6"><p>AW</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Australie</p></td>
        <td  class="ce6"><p>AU</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Autriche</p></td>
        <td  class="ce6"><p>AT</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Azerbaïdjan</p></td>
        <td  class="ce6"><p>AZ</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Bahamas</p></td>
        <td  class="ce6"><p>BS</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Bahrein</p></td>
        <td  class="ce6"><p>BH</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Bangladesh</p></td>
        <td  class="ce6"><p>BD</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Barbade</p></td>
        <td  class="ce6"><p>BB</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Bélarus</p></td>
        <td  class="ce6"><p>BY</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Belgique</p></td>
        <td  class="ce6"><p>BE</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Bélize</p></td>
        <td  class="ce6"><p>BZ</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Bénin</p></td>
        <td  class="ce6"><p>BJ</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Bermudes</p></td>
        <td  class="ce6"><p>BM</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Bhoutan</p></td>
        <td  class="ce6"><p>BT</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Bolivie (État plurinational de)</p></td>
        <td  class="ce6"><p>BO</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Bonaire, Saint-Eustache et Saba</p></td>
        <td  class="ce6"><p>BQ</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Bosnie-Herzégovine</p></td>
        <td  class="ce6"><p>BA</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Botswana</p></td>
        <td  class="ce6"><p>BW</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Bouvet, Ile</p></td>
        <td  class="ce6"><p>BV</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Brésil</p></td>
        <td  class="ce6"><p>BR</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Brunéi Darussalam</p></td>
        <td  class="ce6"><p>BN</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Bulgarie</p></td>
        <td  class="ce6"><p>BG</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Burkina Faso</p></td>
        <td  class="ce6"><p>BF</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Burundi</p></td>
        <td  class="ce6"><p>BI</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Cabo Verde</p></td>
        <td  class="ce6"><p>CV</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Caïmans, Iles</p></td>
        <td  class="ce6"><p>KY</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Cambodge</p></td>
        <td  class="ce6"><p>KH</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Cameroun</p></td>
        <td  class="ce6"><p>CM</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Canada</p></td>
        <td  class="ce6"><p>CA</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Chili</p></td>
        <td  class="ce6"><p>CL</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Chine</p></td>
        <td  class="ce6"><p>CN</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Christmas, île</p></td>
        <td  class="ce6"><p>CX</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Chypre</p></td>
        <td  class="ce6"><p>CY</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Cocos/Keeling (Îles)</p></td>
        <td  class="ce6"><p>CC</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Colombie</p></td>
        <td  class="ce6"><p>CO</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Comores</p></td>
        <td  class="ce6"><p>KM</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Congo</p></td>
        <td  class="ce6"><p>CG</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Congo, République démocratique du</p></td>
        <td  class="ce6"><p>CD</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Cook, Iles</p></td>
        <td  class="ce6"><p>CK</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Corée, République de</p></td>
        <td  class="ce6"><p>KR</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Corée, République populaire démocratique de</p>
        </td>
        <td  class="ce6"><p>KP</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Costa Rica</p></td>
        <td  class="ce6"><p>CR</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Côte d'Ivoire</p></td>
        <td  class="ce6"><p>CI</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Croatie</p></td>
        <td  class="ce6"><p>HR</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Cuba</p></td>
        <td  class="ce6"><p>CU</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Curaçao</p></td>
        <td  class="ce6"><p>CW</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Danemark</p></td>
        <td  class="ce6"><p>DK</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Djibouti</p></td>
        <td  class="ce6"><p>DJ</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Dominicaine, République</p></td>
        <td  class="ce6"><p>DO</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Dominique</p></td>
        <td  class="ce6"><p>DM</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Egypte</p></td>
        <td  class="ce6"><p>EG</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>El Salvador</p></td>
        <td  class="ce6"><p>SV</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Emirats arabes unis</p></td>
        <td  class="ce6"><p>AE</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Equateur</p></td>
        <td  class="ce6"><p>EC</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Erythrée</p></td>
        <td  class="ce6"><p>ER</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Espagne</p></td>
        <td  class="ce6"><p>ES</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Estonie</p></td>
        <td  class="ce6"><p>EE</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Etats-Unis d'Amérique</p></td>
        <td  class="ce6"><p>US</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Ethiopie</p></td>
        <td  class="ce6"><p>ET</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Falkland/Malouines (Îles)</p></td>
        <td  class="ce6"><p>FK</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Féroé, îles</p></td>
        <td  class="ce6"><p>FO</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Fidji</p></td>
        <td  class="ce6"><p>FJ</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Finlande</p></td>
        <td  class="ce6"><p>FI</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>France</p></td>
        <td  class="ce6"><p>FR</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Gabon</p></td>
        <td  class="ce6"><p>GA</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Gambie</p></td>
        <td  class="ce6"><p>GM</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Géorgie</p></td>
        <td  class="ce6"><p>GE</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Géorgie du sud et les îles Sandwich du sud</p>
        </td>
        <td  class="ce6"><p>GS</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Ghana</p></td>
        <td  class="ce6"><p>GH</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Gibraltar</p></td>
        <td  class="ce6"><p>GI</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Grèce</p></td>
        <td  class="ce6"><p>GR</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Grenade</p></td>
        <td  class="ce6"><p>GD</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Groenland</p></td>
        <td  class="ce6"><p>GL</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Guadeloupe</p></td>
        <td  class="ce6"><p>GP</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Guam</p></td>
        <td  class="ce6"><p>GU</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Guatemala</p></td>
        <td  class="ce6"><p>GT</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Guernesey</p></td>
        <td  class="ce6"><p>GG</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Guinée</p></td>
        <td  class="ce6"><p>GN</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Guinée-Bissau</p></td>
        <td  class="ce6"><p>GW</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Guinée équatoriale</p></td>
        <td  class="ce6"><p>GQ</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Guyana</p></td>
        <td  class="ce6"><p>GY</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Guyane française</p></td>
        <td  class="ce6"><p>GF</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Haïti</p></td>
        <td  class="ce6"><p>HT</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Heard, Ile et MacDonald, îles</p></td>
        <td  class="ce6"><p>HM</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Honduras</p></td>
        <td  class="ce6"><p>HN</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Hong Kong</p></td>
        <td  class="ce6"><p>HK</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Hongrie</p></td>
        <td  class="ce6"><p>HU</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Île de Man</p></td>
        <td  class="ce6"><p>IM</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Îles mineures éloignées des Etats-Unis</p></td>
        <td  class="ce6"><p>UM</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Îles vierges britanniques</p></td>
        <td  class="ce6"><p>VG</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Îles vierges des Etats-Unis</p></td>
        <td  class="ce6"><p>VI</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Inde</p></td>
        <td  class="ce6"><p>IN</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Indien (Territoire britannique de l'océan)</p>
        </td>
        <td  class="ce6"><p>IO</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Indonésie</p></td>
        <td  class="ce6"><p>ID</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Iran, République islamique d'</p></td>
        <td  class="ce6"><p>IR</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Iraq</p></td>
        <td  class="ce6"><p>IQ</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Irlande</p></td>
        <td  class="ce6"><p>IE</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Islande</p></td>
        <td  class="ce6"><p>IS</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Israël</p></td>
        <td  class="ce6"><p>IL</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Italie</p></td>
        <td  class="ce6"><p>IT</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Jamaïque</p></td>
        <td  class="ce6"><p>JM</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Japon</p></td>
        <td  class="ce6"><p>JP</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Jersey</p></td>
        <td  class="ce6"><p>JE</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Jordanie</p></td>
        <td  class="ce6"><p>JO</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Kazakhstan</p></td>
        <td  class="ce6"><p>KZ</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Kenya</p></td>
        <td  class="ce6"><p>KE</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Kirghizistan</p></td>
        <td  class="ce6"><p>KG</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Kiribati</p></td>
        <td  class="ce6"><p>KI</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Koweït</p></td>
        <td  class="ce6"><p>KW</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Lao, République démocratique populaire</p></td>
        <td  class="ce6"><p>LA</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Lesotho</p></td>
        <td  class="ce6"><p>LS</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Lettonie</p></td>
        <td  class="ce6"><p>LV</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Liban</p></td>
        <td  class="ce6"><p>LB</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Libéria</p></td>
        <td  class="ce6"><p>LR</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Libye</p></td>
        <td  class="ce6"><p>LY</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Liechtenstein</p></td>
        <td  class="ce6"><p>LI</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Lituanie</p></td>
        <td  class="ce6"><p>LT</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Luxembourg</p></td>
        <td  class="ce6"><p>LU</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Macao</p></td>
        <td  class="ce6"><p>MO</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Macédoine, l'ex-République yougoslave de</p></td>
        <td  class="ce6"><p>MK</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Madagascar</p></td>
        <td  class="ce6"><p>MG</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Malaisie</p></td>
        <td  class="ce6"><p>MY</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Malawi</p></td>
        <td  class="ce6"><p>MW</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Maldives</p></td>
        <td  class="ce6"><p>MV</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Mali</p></td>
        <td  class="ce6"><p>ML</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Malte</p></td>
        <td  class="ce6"><p>MT</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Mariannes du nord, Iles</p></td>
        <td  class="ce6"><p>MP</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Maroc</p></td>
        <td  class="ce6"><p>MA</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Marshall, Iles</p></td>
        <td  class="ce6"><p>MH</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Martinique</p></td>
        <td  class="ce6"><p>MQ</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Maurice</p></td>
        <td  class="ce6"><p>MU</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Mauritanie</p></td>
        <td  class="ce6"><p>MR</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Mayotte</p></td>
        <td  class="ce6"><p>YT</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Mexique</p></td>
        <td  class="ce6"><p>MX</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Micronésie, Etats Fédérés de</p></td>
        <td  class="ce6"><p>FM</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Moldova, République de</p></td>
        <td  class="ce6"><p>MD</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Monaco</p></td>
        <td  class="ce6"><p>MC</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Mongolie</p></td>
        <td  class="ce6"><p>MN</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Monténégro</p></td>
        <td  class="ce6"><p>ME</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Montserrat</p></td>
        <td  class="ce6"><p>MS</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Mozambique</p></td>
        <td  class="ce6"><p>MZ</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Myanmar</p></td>
        <td  class="ce6"><p>MM</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Namibie</p></td>
        <td  class="ce6"><p>NA</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Nauru</p></td>
        <td  class="ce6"><p>NR</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Népal</p></td>
        <td  class="ce6"><p>NP</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Nicaragua</p></td>
        <td  class="ce6"><p>NI</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Niger</p></td>
        <td  class="ce6"><p>NE</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Nigéria</p></td>
        <td  class="ce6"><p>NG</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Niue</p></td>
        <td  class="ce6"><p>NU</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Norfolk, Ile</p></td>
        <td  class="ce6"><p>NF</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Norvège</p></td>
        <td  class="ce6"><p>NO</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Nouvelle-Calédonie</p></td>
        <td  class="ce6"><p>NC</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Nouvelle-Zélande</p></td>
        <td  class="ce6"><p>NZ</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Oman</p></td>
        <td  class="ce6"><p>OM</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Ouganda</p></td>
        <td  class="ce6"><p>UG</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Ouzbékistan</p></td>
        <td  class="ce6"><p>UZ</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Pakistan</p></td>
        <td  class="ce6"><p>PK</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Palaos</p></td>
        <td  class="ce6"><p>PW</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Palestine, Etat de</p></td>
        <td  class="ce6"><p>PS</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Panama</p></td>
        <td  class="ce6"><p>PA</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Papouasie-Nouvelle-Guinée</p></td>
        <td  class="ce6"><p>PG</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Paraguay</p></td>
        <td  class="ce6"><p>PY</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Pays-Bas</p></td>
        <td  class="ce6"><p>NL</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Pays inconnu</p></td>
        <td  class="ce6"><p>XX</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Pays multiples</p></td>
        <td  class="ce6"><p>ZZ</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Pérou</p></td>
        <td  class="ce6"><p>PE</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Philippines</p></td>
        <td  class="ce6"><p>PH</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Pitcairn</p></td>
        <td  class="ce6"><p>PN</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Pologne</p></td>
        <td  class="ce6"><p>PL</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Polynésie française</p></td>
        <td  class="ce6"><p>PF</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Porto Rico</p></td>
        <td  class="ce6"><p>PR</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Portugal</p></td>
        <td  class="ce6"><p>PT</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Qatar</p></td>
        <td  class="ce6"><p>QA</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>République arabe syrienne</p></td>
        <td  class="ce6"><p>SY</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>République centrafricaine</p></td>
        <td  class="ce6"><p>CF</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Réunion</p></td>
        <td  class="ce6"><p>RE</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Roumanie</p></td>
        <td  class="ce6"><p>RO</p></td>
    </tr>
    <tr class="ro6">
        <td  class="ce6"><p>Royaume-Uni de Grande-Bretagne et d'Irlande du
            Nord</p></td>
        <td  class="ce6"><p>GB</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Russie, Fédération de</p></td>
        <td  class="ce6"><p>RU</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Rwanda</p></td>
        <td  class="ce6"><p>RW</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Sahara occidental</p></td>
        <td  class="ce6"><p>EH</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Saint-Barthélemy</p></td>
        <td  class="ce6"><p>BL</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Saint-Kitts-et-Nevis</p></td>
        <td  class="ce6"><p>KN</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Saint-Marin</p></td>
        <td  class="ce6"><p>SM</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Saint-Martin (partie française)</p></td>
        <td  class="ce6"><p>MF</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Saint-Martin (partie néerlandaise)</p></td>
        <td  class="ce6"><p>SX</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Saint-Pierre-et-Miquelon</p></td>
        <td  class="ce6"><p>PM</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Saint-Siège</p></td>
        <td  class="ce6"><p>VA</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Saint-Vincent-et-les-Grenadines</p></td>
        <td  class="ce6"><p>VC</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Sainte-Hélène, Ascension et Tristan da Cunha</p>
        </td>
        <td  class="ce6"><p>SH</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Sainte-Lucie</p></td>
        <td  class="ce6"><p>LC</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Salomon, Iles</p></td>
        <td  class="ce6"><p>SB</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Samoa</p></td>
        <td  class="ce6"><p>WS</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Samoa américaines</p></td>
        <td  class="ce6"><p>AS</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Sao Tomé-et-Principe</p></td>
        <td  class="ce6"><p>ST</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Sénégal</p></td>
        <td  class="ce6"><p>SN</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Serbie</p></td>
        <td  class="ce6"><p>RS</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Seychelles</p></td>
        <td  class="ce6"><p>SC</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Sierra Leone</p></td>
        <td  class="ce6"><p>SL</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Singapour</p></td>
        <td  class="ce6"><p>SG</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Slovaquie</p></td>
        <td  class="ce6"><p>SK</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Slovénie</p></td>
        <td  class="ce6"><p>SI</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Somalie</p></td>
        <td  class="ce6"><p>SO</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Soudan</p></td>
        <td  class="ce6"><p>SD</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Soudan du Sud</p></td>
        <td  class="ce6"><p>SS</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Sri Lanka</p></td>
        <td  class="ce6"><p>LK</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Suède</p></td>
        <td  class="ce6"><p>SE</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Suisse</p></td>
        <td  class="ce6"><p>CH</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Suriname</p></td>
        <td  class="ce6"><p>SR</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Svalbard et île Jan Mayen</p></td>
        <td  class="ce6"><p>SJ</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Swaziland</p></td>
        <td  class="ce6"><p>SZ</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Tadjikistan</p></td>
        <td  class="ce6"><p>TJ</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Taïwan, Province de Chine</p></td>
        <td  class="ce6"><p>TW</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Tanzanie, République unie de</p></td>
        <td  class="ce6"><p>TZ</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Tchad</p></td>
        <td  class="ce6"><p>TD</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce7"><p>Tchécoslovaquie</p></td>
        <td  class="ce7"><p>CS</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Tchèque, République</p></td>
        <td  class="ce6"><p>CZ</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Terres australes françaises</p></td>
        <td  class="ce6"><p>TF</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Thaïlande</p></td>
        <td  class="ce6"><p>TH</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Timor-Leste</p></td>
        <td  class="ce6"><p>TL</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Togo</p></td>
        <td  class="ce6"><p>TG</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Tokelau</p></td>
        <td  class="ce6"><p>TK</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Tonga</p></td>
        <td  class="ce6"><p>TO</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Trinité-et-Tobago</p></td>
        <td  class="ce6"><p>TT</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Tunisie</p></td>
        <td  class="ce6"><p>TN</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Turkménistan</p></td>
        <td  class="ce6"><p>TM</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Turks-et-Caïcos (Îles)</p></td>
        <td  class="ce6"><p>TC</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Turquie</p></td>
        <td  class="ce6"><p>TR</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Tuvalu</p></td>
        <td  class="ce6"><p>TV</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Ukraine</p></td>
        <td  class="ce6"><p>UA</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce7"><p>URSS</p></td>
        <td  class="ce7"><p>SU</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Uruguay</p></td>
        <td  class="ce6"><p>UY</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Vanuatu</p></td>
        <td  class="ce6"><p>VU</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce7"><p>Vatican : voir Saint-Siège</p></td>
        <td  class="ce8"> </td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Venezuela (République bolivarienne du)</p></td>
        <td  class="ce6"><p>VE</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Viet Nam</p></td>
        <td  class="ce6"><p>VN</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce7"><p>Viet Nam (Sud)</p></td>
        <td  class="ce7"><p>VD</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Wallis et Futuna</p></td>
        <td  class="ce6"><p>WF</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Yémen</p></td>
        <td  class="ce6"><p>YE</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce7"><p>Yougoslavie</p></td>
        <td  class="ce7"><p>YU</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce7"><p>Zaïre</p></td>
        <td  class="ce7"><p>ZR</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Zambie</p></td>
        <td  class="ce6"><p>ZM</p></td>
    </tr>
    <tr class="ro1">
        <td  class="ce6"><p>Zimbabwe</p></td>
        <td  class="ce6"><p>ZW</p></td>
    </tr>
    </table>
</div>


{% endblock %}